body{
background-color: #E6E6FA;
margin:0;
}
header, .content{
  
  font-family: Roboto, Aria, sans-serif;
  margin:auto;
  min-width: 1100px;
  text-transform:uppercase;
}
nav{
  margin: 0;
  padding: 0;
}
nav ul {
  list-style:none;}
nav > ul{
  display:flex;
  justify-content:center;
}


nav > ul li a{
  display:block;
  
  padding: 15px 30px 15px 40px;
  font-size:15px;
  color:#72B431;
  text-decoration:none;

  transition: all 0.1s ease;
}
nav > ul li{
  position: relative;
}
nav li a:hover{
  background: #1B2F34;
  color:#CBD421;
  box-shadow: 1px 5px 10px -5px black;
  transition: all 0.3s ease;
  
}

.content{
  margin:0 auto;
  width: 1000px;
  display:flex;
  justify-content:center;
  
}
 .content{
 min-height: 480px;
 box-sizing: border-box;
 color:#009E69;

      }

footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background:#696969;
  text-align: center;
  min-height: 40px;
}
div#registretion {
    width: 350px;
    margin: auto;
    border: 1px solid;
    padding: 15px;

}
#registretion .row {
    width: 100%;
    margin-bottom: 15px;

}
#registretion .row input{
    float: right;
    width: 250px;
}
#registretion h1{
    text-align: center;
}

#registretion .row span{
    display: block;
    font-size: 8px;
    color: red;
    float: right;
}

#registretion .row .hide{
    display: none;
}

* {
margin: 0;
padding: 0

}

html,body {
height: 100%;

}

#test {
height: 0;
overflow: hidden;

}
.round1, .round1:before, .round1:after {
border:3px solid transparent;
border-radius: 50%;

}



.round1{
 width: 150px;
 height: 150px;
 margin: 50px auto;
 position:relative;
 border-top-color: #bac900;
 -webkit-animation: spin 1s infinite linear;
 animation: spin 1s infinite linear;

}
.round1:before, .round1:after{
 content:'';
 position:absolute;   
}
.round1:before{
top:10px;
left:10px;
right: 10px;
bottom: 10px;
border-top-color: #00abd4;
-webkit-animation: spin 1s infinite linear;
animation: spin 2s infinite linear;

}
.loaded .round1{
opacity:0;
}


.round1:after{
top:23px;
left:23px;
right: 23px;
bottom: 23px;  
border-top-color: #ff1400;
-webkit-animation: spin 1s infinite linear;
animation: spin 3s infinite linear;
}

@-webkit-keyframes spin {
    from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    to { 
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    }
}


@-webkit-keyframes spin {
     from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    to { 
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    } 
}

